

body {
    background-color: #cfcfcf;
}
.main {
    background-color: #05058f;
    height:100%;
    border-radius:10px; 
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: fixed;
    bottom: 5%;

}
.back {
    position :absolute;
    bottom: 10px;
    left: 10px;
    width:100px;
    height:50px;
    background-color: red;
    border-radius:10px; 
    display :flex;
    justify-content: center;  
    align-items: center;
    color: #fff; 
    text-transform: uppercase;
    text-decoration:none;
} 
h2 {
    color: rgb(51, 5, 51);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    left: 50%;
    font-family: impact;
}
script {
    color: black;
}
h1 {
    color: rgb(20, 45, 38);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  /* CSS for quiz container */
#quiz-container {
    background-color: #0e789e4d;
    display: none;
    max-width: 700px;
    max-height: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* CSS for question element */
  #question {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0%;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* pesan */
  #result {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* hasil */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #00ec72;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #7ab300;
    color: #fff;
  }
  
  button:focus {
    outline: none;
  }

